/* Estilos Sistema*/
*{
    margin: 0;
}

body{
    background-color: #181B26;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

header{
    width: 100vw;
    height: 50px;
    display: flex;
}

.menu{
    height: 35px;
    width: 100px;
    padding-top: 15px;
    text-align: center;
}

.menu:hover{
    background-color: aqua;
}

main{
    display: flex;
    flex-wrap: wrap;
}

.contenido{
    width: 67%;
    margin-top: 25px;
}

aside{
    width: 33%;
    margin-top: 25px;
}

@media (width <= 1000px){
    .contenido{
        width: 100%;
    }
    aside{
        width: 100%;
    }
}

/* Estilos Index */
.reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    /*
    flex-wrap: wrap-reverse;
    align-content: center
    */
}

.review{
    width: 90%;
    display: flex;
    justify-content:space-evenly;
    border: 1px solid aquamarine;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    padding: 10px;

}

.imagen{
    background-color: aqua;
    margin: 5px;
    width: 75px;
    height: 75px;
}

.foto{
    background-color: aqua;
    margin: 5px;
    width: 50px;
    height: 50px;
}

/* Estilos Perfil */
.account{
    width: 100vw;
}

.perfil{
    display: flex;
    justify-content: left;
    margin: 25px;
}