body{
    margin: 0;
}

.main-container{
    width: 100vW;
    height: 100vh;
    background-color: white;
    padding-top: 80px;
    margin: 0;
}

.container{
    width: 70%;
    height: 83%;
    margin: auto;
}

.texto{
    width: 45%;
    height: 100%;
    float: left;
    text-align: center;
    font-size:larger;
}

.imagen{
    width: 45%;
    height: 100%;
    background-color: green;
    float: right;
}

img{
    width: 100%;
    height: 100%;
}

button{
    width: 200px;
    height: 50px;
    border: 0;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}