body{
    margin:0
}

.main-container{
    width: 100vW;
    height: 100vh;
    background-image: url(imagenes/fondo.jpg);
    padding-top: 20px;
}

.card{
    width: 500px;
    height: 600px;
    background-color: white;
    margin: auto;
}

img{
    width: 100%;
    height: 55%;
}

.text-container{
    height: 45%;
    padding: 25px 25px;
}

h1{
    margin: 0;
    text-align: center;
}

hr{
    border: dotted black 1px;
}

p{
    color: gray;
}

button{
    margin: auto;
    display: block;
    background-color: red;
    border: none;
    color: white;
    font-size: 14px;
    height: 40px;
    width: 180px;
}